@import "../helper/mixins";

//Start
*{
  margin: 0; 
  padding: 0;
}

body{
  overflow: hidden;
}

#top{
  height: 50%;
  background-color: #87ceeb;
  position: fixed;
  width: 100%;
}

//Sun and Rays

.sun { 
  @include border-radius(50%);
  position: absolute;
  top: -6px;
  left: -15px;
  right: 0;
  bottom: 0; 
  width: 70px;
  height: 70px;
  background: #ffff00;
  opacity: 0.9;      
  box-shadow: 0px 0px 40px 15px #ffffed; 
}

//Ray Container
.ray-box{
  @include animation(ray_anim 120s linear infinite);  
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0; 
  width: 70px;

  //Look and feel for each ray
  .ray {  
    @include linear-gradient(#ffff00, #ffffc4, #ffffed);
    @include border-radius(90% 90% 90% 90%);
    margin-left: 10px;
    position: absolute;
    opacity: 0.2;
  }

    /*Each ray's attributes can be modified here*/
    .ray1 {
      @include rotate(180deg);    
      height: 170px;
      width: 30px;
      top: -175px;
      left: 15px;
    }

    .ray2 {
      @include rotate(220deg);
      height: 100px;
      width: 8px;
      top: -90px;
      left: 75px;
    }

    .ray3 {
      @include rotate(250deg);
      height: 170px;
      width: 50px;
      top: -80px;
      left: 100px;
    }

    .ray4 {
      @include rotate(305deg);
      height: 120px;
      width: 14px;
      top: 30px;
      left: 100px;
    }

    .ray5 {
      @include rotate(-15deg);
      height: 140px;
      width: 30px;
      top: 60px;
      left: 40px;
    }

    .ray6 {
      @include rotate(30deg);
      height: 90px;
      width: 50px; 
      top: 60px;
      left: -40px;
    }

    .ray7 {
      @include rotate(70deg);
      height: 180px;
      width: 10px;  
      top: -35px;
      left: -40px;
    }

    .ray8 {
      @include rotate(100deg);
      height: 120px;
      width: 30px;
      top: -45px;
      left: -90px;
    }

    .ray9 {
      @include rotate(120deg);
      height: 80px;
      width: 10px; 
      top: -65px;
      left: -60px;
    }

    .ray10 {
      @include rotate(150deg);
      height: 190px;
      width: 23px;  
      top: -185px;
      left: -60px;
    }  
}

//Ray Rotation Animation

@-webkit-keyframes ray_anim { 
  0% { 
    @include rotate(0deg);
  }  

  100% { 
    @include rotate(360deg);
  }
}

@-moz-keyframes ray_anim {
  0% { 
    @include rotate(0deg);
  }  

  100% { 
    @include rotate(360deg);
  }
}

@keyframes ray_anim {
  0% { 
    @include rotate(0deg);
  }  

  100% { 
    @include rotate(360deg);
  }
}
//Sun and Rays

//Content Box
.content-box {
  @include border-radius(10px);
  background-color: white;
  height: auto;
  left: 30%;
  padding: 15px;
  position: absolute;
  width: 30%;
  text-align: center;
  top: 15%;
  z-index: 10;
}

.content-box-or {
  display: block;
  position: relative;
  z-index: 1;

  &:before{
    background-color: #aaaaaa;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 12px;
    width: 100%;
    z-index: 5;
  }

  &:after{
    background: white;
    color: #565a5c;
    content: 'OR';
    display: block;
    font-size: 16px;
    font-weight: bold;
    left: calc((100% - 50px)/2);
    padding: 2px 0;
    position: relative;
    text-align: center;
    width: 50px;
    z-index: 10;
  }
}

@media only screen and (min-width: 550px) {
  .content-box {
    left: 40%;
  }
}

//IMG Fader
.fadein {
  margin: 0 auto;
  position: relative;
  width: 100%;
  
  .fadin-img-container {
    height: 120px;
    left: -25%;
    padding-bottom: 3%; 
    padding-top: 1%;
    position: relative;      

    img {    
      -webkit-animation-name: fade;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 6s;
      animation-name: fade;
      animation-iteration-count: infinite;
      animation-duration: 6s;
      margin: 0 auto;
      position: absolute;
      width: 50%;
    }
  }
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {

}
#f2 {
    -webkit-animation-delay: -4s;
}
#f3 {
    -webkit-animation-delay: -2s;
}

//Clouds and animations

#cloud-container{
  position: relative;
  height: 50%;
  width: 100%;
}

//Cloud Shape Class
.cloud{
  @include border-radius(200px);
  width: 200px; 
  height: 60px;
  background: #fff;
  position: relative; 

  &:before, &:after{
    @include border-radius(100px);
    @include rotate(30deg);
    content: '';
    position: absolute; 
    background: #fff;
    width: 100px; 
    height: 80px;
    position: absolute; 
    top: -15px; 
    left: 10px;
  }

  &:after {
    width: 120px; 
    height: 120px;
    top: -55px; 
    left: auto; 
    right: 15px;
  }
}

//Cloud Animations
//with different speeds, positions, and opacities
//opacity proportional to the size
.x1 {
  @include animation(moveclouds 15s linear infinite); 
  left: 50%;
}

.x2 {
  @include animation(moveclouds 25s linear infinite); 
  @include scale(0.6);
  left: 30%;
  top: 7%;
  opacity: 0.6;
}

.x3 {
  @include animation(moveclouds 20s linear infinite);
  @include scale(0.8);
  left: 20%; 
  top: 115%;
  opacity: 0.8;
}

.x4 {
  @include animation(moveclouds 18s linear infinite);
  @include scale(0.75);
  left: 60%; 
  top: 42%;
  opacity: 0.75;
}

.x5 {
  @include animation(moveclouds 20s linear infinite);
  @include scale(0.8);
  left: 40%; 
  top: -30px;
  opacity: 0.8;
}

//Moving Clouds Keyframe
@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

@-moz-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

@keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

//Bottom Section
#bottom{
  height: 50%;
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*Tree Branch*/
.tree-branch{
  @include rotate(-21deg);
  background-color: brown;
  height: 2%;
  width: 10%;
  position: relative;
  top: -28%;
  left: -2%;

  &:after {
    @include rotate(90deg);
    @include border-radius(100%);
    content: '';
    width: 41%;
    height: 800%;
    background-color: lightgreen;
    display: inline-block;
    position: absolute;
    left: 80%;
    top: -350%;
  }
}

//Swinging Calvin
.swingimage{
  @include transform-origin(0% 0);
  @include animation(swinging 5s ease-in-out forwards infinite);
  width: 50%;
  left: 41%;
  position: absolute; 
}

@-webkit-keyframes swinging{
  0%{
    -webkit-transform: rotate(50deg);
  }
  50%{
    -webkit-transform: rotate(-5deg);
  }
  100%{
    -webkit-transform: rotate(50deg);
  }
}

@-moz-keyframes moveclouds {
  0% {
    -moz-transform: rotate(50deg);
  }
  100% {
    -moz-transform: rotate(50deg);
  }
}

@keyframes swinging{
  0%{
    transform: rotate(50deg);
  }
  50%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(50deg);
  }
}

//Text Animation
.textify{
  position: relative;
  right: 35%;
  text-align: right;
  top: 15%;
  .shine {
    @include rotateX(17deg);
    @include animation(pulse 5s ease infinite alternate);
    font-size: 5rem;
    line-height: 0;
    color: blue;
    text-shadow: rgb(187, 187, 187) 0px 1px 0px, rgb(181, 181, 181) 0px 2px 0px, rgb(172, 172, 172) 0px 4px 0px, rgb(160, 160, 160) 0px 6px 0px, rgb(145, 145, 145) 0px 6px 0px, rgb(127, 127, 127) 0px 8px 0px, rgba(0, 0, 0, 0.2) 0px 9px 1px, rgba(0, 0, 0, 0.298039) 0px 30px 0px;
  }
}

//Pulsating Text Animation
@-webkit-keyframes pulse {
  0%, 100% {
    color: blue;
  }
  50%{
    color: purple;
  }
}

@-moz-keyframes pulse {
  0%, 100% {
    color: blue;
  }
  50%{
    color: purple;
  }
}

@keyframes pulse {
  0%, 100% {
    color: blue;
  }
  50%{
    color: purple;
  }
}

//Walking path

#walking-path{
  background-color: grey;
  width: 100%;
  height: 41%;
  position: relative;
  top: 42%;
}

//Sprite Container
.megaman-conatiner{
  position: relative;
  left: 43%;
  top: 15%;

  //Sprite Image
  .megaman{
    @include animation(run 0.8s steps(3) infinite);
    width: 174px;
    height: 170px;
    background: url('../images/megamanrun2.png');
    background-position: 0px 0px;
    zoom: 0.5;
  }
}

//Sprite Run Animation
@-webkit-keyframes run {
  100% { 
    background-position: -529px; 
  }
}

@-moz-keyframes run {
  100% { 
    background-position: -529px; 
  }
}

@keyframes run {
  100% { 
    background-position: -529px; 
  }
}

//ToolTip
[data-tooltip] {
  position: relative;
  z-index: 2;

  /* Hide the tooltip content by default */
  &:before, &:after {
    visibility: hidden;
    opacity: 0;
  }

  /* Show tooltip content on hover */
  &:hover {
    &:before, &:after {
      visibility: visible;
      opacity: 1;
    }
  }

  /* Position tooltip*/
  &:before, {
    @include border-radius(3px);
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    left: 15%;
    padding: 7px;
    position: absolute;
    top: 100%;
    width: 250px;
  }
}