* {
  margin: 0;
  padding: 0; }

body {
  overflow: hidden; }

#top {
  height: 50%;
  background-color: #87ceeb;
  position: fixed;
  width: 100%; }

.sun {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: -15px;
  right: 0;
  bottom: 0;
  width: 70px;
  height: 70px;
  background: #ffff00;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 15px #ffffed; }

.ray-box {
  -webkit-animation: ray_anim 120s linear infinite;
  -moz-animation: ray_anim 120s linear infinite;
  animation: ray_anim 120s linear infinite;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  /*Each ray's attributes can be modified here*/ }
  .ray-box .ray {
    background: -webkit-linear-gradient(top, #ffff00 0%, #ffffc4 50%, #ffffed 100%);
    background: -moz-linear-gradient(top, #ffff00 0%, #ffffc4 50%, #ffffed 100%);
    background: linear-gradient(to bottom, #ffff00 0%, #ffffc4 50%, #ffffc4 51%, #ffffed 100%);
    -webkit-border-radius: 90% 90% 90% 90%;
    -moz-border-radius: 90% 90% 90% 90%;
    border-radius: 90% 90% 90% 90%;
    margin-left: 10px;
    position: absolute;
    opacity: 0.2; }
  .ray-box .ray1 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 170px;
    width: 30px;
    top: -175px;
    left: 15px; }
  .ray-box .ray2 {
    -webkit-transform: rotate(220deg);
    -moz-transform: rotate(220deg);
    transform: rotate(220deg);
    height: 100px;
    width: 8px;
    top: -90px;
    left: 75px; }
  .ray-box .ray3 {
    -webkit-transform: rotate(250deg);
    -moz-transform: rotate(250deg);
    transform: rotate(250deg);
    height: 170px;
    width: 50px;
    top: -80px;
    left: 100px; }
  .ray-box .ray4 {
    -webkit-transform: rotate(305deg);
    -moz-transform: rotate(305deg);
    transform: rotate(305deg);
    height: 120px;
    width: 14px;
    top: 30px;
    left: 100px; }
  .ray-box .ray5 {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    transform: rotate(-15deg);
    height: 140px;
    width: 30px;
    top: 60px;
    left: 40px; }
  .ray-box .ray6 {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
    height: 90px;
    width: 50px;
    top: 60px;
    left: -40px; }
  .ray-box .ray7 {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    transform: rotate(70deg);
    height: 180px;
    width: 10px;
    top: -35px;
    left: -40px; }
  .ray-box .ray8 {
    -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
    transform: rotate(100deg);
    height: 120px;
    width: 30px;
    top: -45px;
    left: -90px; }
  .ray-box .ray9 {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg);
    height: 80px;
    width: 10px;
    top: -65px;
    left: -60px; }
  .ray-box .ray10 {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg);
    height: 190px;
    width: 23px;
    top: -185px;
    left: -60px; }

@-webkit-keyframes ray_anim {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes ray_anim {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes ray_anim {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

.content-box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: white;
  height: auto;
  left: 30%;
  padding: 10px;
  position: absolute;
  width: 100px;
  text-align: center;
  top: 50%; }

@media (min-width: 550px) {
  .content-box {
    left: 45%; } }

#cloud-container {
  position: relative;
  height: 50%;
  width: 100%; }

.cloud {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  width: 200px;
  height: 60px;
  background: #fff;
  position: relative; }
  .cloud:before, .cloud:after {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px; }
  .cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px; }

.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  animation: moveclouds 15s linear infinite;
  left: 50%; }

.x2 {
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  animation: moveclouds 25s linear infinite;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  left: 30%;
  top: 7%;
  opacity: 0.6; }

.x3 {
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  animation: moveclouds 20s linear infinite;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  left: 20%;
  top: 115%;
  opacity: 0.8; }

.x4 {
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  animation: moveclouds 18s linear infinite;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  left: 60%;
  top: 42%;
  opacity: 0.75; }

.x5 {
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  animation: moveclouds 20s linear infinite;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  left: 40%;
  top: -30px;
  opacity: 0.8; }

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px; }
  100% {
    margin-left: -1000px; } }

@-moz-keyframes moveclouds {
  0% {
    margin-left: 1000px; }
  100% {
    margin-left: -1000px; } }

@keyframes moveclouds {
  0% {
    margin-left: 1000px; }
  100% {
    margin-left: -1000px; } }

#bottom {
  height: 50%;
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%; }

/*Tree Branch*/
.tree-branch {
  -webkit-transform: rotate(-21deg);
  -moz-transform: rotate(-21deg);
  transform: rotate(-21deg);
  background-color: brown;
  height: 2%;
  width: 10%;
  position: relative;
  top: -28%;
  left: -2%; }
  .tree-branch:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    content: '';
    width: 41%;
    height: 800%;
    background-color: lightgreen;
    display: inline-block;
    position: absolute;
    left: 80%;
    top: -350%; }

.swingimage {
  -webkit-transform-origin: 0% 0;
  moz-transform-origin: 0% 0;
  transform-origin: 0% 0;
  -webkit-animation: swinging 5s ease-in-out forwards infinite;
  -moz-animation: swinging 5s ease-in-out forwards infinite;
  animation: swinging 5s ease-in-out forwards infinite;
  width: 50%;
  left: 41%;
  position: absolute; }

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(50deg); }
  50% {
    -webkit-transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(50deg); } }

@-moz-keyframes moveclouds {
  0% {
    -moz-transform: rotate(50deg); }
  100% {
    -moz-transform: rotate(50deg); } }

@keyframes swinging {
  0% {
    transform: rotate(50deg); }
  50% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(50deg); } }

.textify {
  position: relative;
  right: 35%;
  text-align: right;
  top: 15%; }
  .textify .shine {
    -webkit-transform: rotateX(17deg);
    -moz-transform: rotateX(17deg);
    transform: rotateX(17deg);
    -webkit-animation: pulse 5s ease infinite alternate;
    -moz-animation: pulse 5s ease infinite alternate;
    animation: pulse 5s ease infinite alternate;
    font-size: 5rem;
    line-height: 0;
    color: blue;
    text-shadow: #bbbbbb 0px 1px 0px, #b5b5b5 0px 2px 0px, #acacac 0px 4px 0px, #a0a0a0 0px 6px 0px, #919191 0px 6px 0px, #7f7f7f 0px 8px 0px, rgba(0, 0, 0, 0.2) 0px 9px 1px, rgba(0, 0, 0, 0.298039) 0px 30px 0px; }

@-webkit-keyframes pulse {
  0%, 100% {
    color: blue; }
  50% {
    color: purple; } }

@-moz-keyframes pulse {
  0%, 100% {
    color: blue; }
  50% {
    color: purple; } }

@keyframes pulse {
  0%, 100% {
    color: blue; }
  50% {
    color: purple; } }

#walking-path {
  background-color: grey;
  width: 100%;
  height: 41%;
  position: relative;
  top: 42%; }

.megaman-conatiner {
  position: relative;
  left: 43%;
  top: 15%; }
  .megaman-conatiner .megaman {
    -webkit-animation: run 0.8s steps(3) infinite;
    -moz-animation: run 0.8s steps(3) infinite;
    animation: run 0.8s steps(3) infinite;
    width: 174px;
    height: 170px;
    background: url("../images/megamanrun2.png");
    background-position: 0px 0px;
    zoom: 0.5; }

@-webkit-keyframes run {
  100% {
    background-position: -529px; } }

@-moz-keyframes run {
  100% {
    background-position: -529px; } }

@keyframes run {
  100% {
    background-position: -529px; } }
